/Server/11_Gregory_Server/build/
/Client/11_Gregory_Client/build/
/Server/11_Gregory_Server/dist/
/Client/11_Gregory_Client/dist/
/Server/5411_Gregory_Server/build/
/Server/5411_Gregory_Server/nbproject/private/
